# Assignment 1. House Pricing.
by Anvar Kurmukov

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using house sale price data from King County, Wahington, USA. This dataset is in public domain and can be obtained from Kaggle: https://www.kaggle.com/harlfoxem/housesalesprediction

You need to place `kc_nouse_data.csv` file in the same directory as this notebook.

In [1]:
import pandas as pd

In [2]:
#!!! It was asked to put answers in the certain form 
# that is why this notebook contains additional cells which convert answers into this specific form 

# Load the data
House = pd.read_csv('kc_house_data.csv')

In [3]:
# Observe top 10 observations (int)
House.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [4]:
# Q1.2 How many bedrooms has a house with `id` == 7237550310?
print(int((House[House.id==7237550310])['bedrooms'])) 

# Q1.4 What is the `grade` of a house with `id` == 5631500400?
print(int((House[House.id==5631500400])['grade']))

4
6

In [5]:
# Observe last 10 observations (int)
House.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21603,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
# Q2.2 How many bedrooms has a house with `id` == 291310100?
print(int((House[House.id==291310100])['bedrooms']))

# Q2.3 When was the house with `id` == 1523300141 built (`yr_built`)?
print(int((House[House.id==1523300141])['yr_built']))

3
2009

In [7]:
# Increase maximal displayed columns
pd.set_option('display.max_columns', 30)

In [8]:
# Observe top 10 observations again
# Is there any new columns displayed? -Yes. The column 'condition' now is shown
House.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [9]:
# Print all the columns/features names
print(House.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
# Q3.1 How many columns have `yr_` prefix?
print(len((House.filter(regex='^yr_',axis=1)).columns))

# Q3.4 How many columns have `rooms` in their names?
print(len((House.filter(regex='rooms',axis=1)).columns))

2
2

In [11]:
# Print data size 
House.shape

(21613, 21)

In [12]:
# Q4.1 How many observations are in the data?
print(House.shape[0])

# Q4.2 How many features are in the data?
print(House.shape[1]) 
# we can remove price (as it will be our target) and id as there are not features, 
# but if I understood the task correctly here I don't need to do that

21613
21

# 2. Basic data exploration

Lets do some basics:
- `.count()` number of not NaN's in every column.
- Is there any missing values in the data?
- Count number of unique values in every column `.nunique()`. 
- What does this tells you about the features, which are most likely categorical and which are most likely numerical?
- Use pandas `.describe()` to display basic statistic about the data.
- Use pandas `.value_counts()` to count number of unique values in a specific column.
- Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.
- Use pandas `.dtypes` field to display data types in columns.

**Hint**
You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [13]:
# Display number of not NaN's in every column (int)
# Q5.3 How many NA values are in the `bedrooms` column?
print(House.bedrooms.isna().sum())

# Q5.5 How many NA values (not zeros, but empty, missing values) are in the `yr_renovated` column?
print(House.yr_renovated.isna().sum())

0
0

In [14]:
# Count number of unique values in every column (int)
print(House.nunique())

id               21436
date               372
price             4028
bedrooms            13
bathrooms           30
sqft_living       1038
sqft_lot          9782
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         946
sqft_basement      306
yr_built           116
yr_renovated        70
zipcode             70
lat               5034
long               752
sqft_living15      777
sqft_lot15        8689
dtype: int64

In [15]:
# Q6.4 How many unique values are in the `bathrooms` column?
print(House.bathrooms.value_counts().count()) # House.bathrooms.nunique()

# Q6.5 How many unique values are in the `long` column?
print(House.long.value_counts().count()) # House.long.nunique()

30
752

In [16]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`

# Q7.4 For every unique `grade` value give its number of occurences.
print(*House['grade'].value_counts())
# Q7.5 For every unique `view` value give its number of occurences.
print(*House['view'].value_counts())

8981 6068 2615 2038 1134 399 242 90 29 13 3 1
19489 963 510 332 319

In [17]:
for x in list(House['view'].value_counts()):
    print('{:0.3f}'.format(x),end=',')

19489.000,963.000,510.000,332.000,319.000,

In [18]:
# Display basic data statistics using .describe()
House.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [19]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q8.2 What are the max, min, mean and the std of the `bedrooms` column?
def f(x):
    a=[]
    a.append(round(x.max(),3))
    a.append(round(x.min(),3))
    a.append(round(x.mean(),3))
    a.append(round(x.std(),3))
    return a
print(f(House['bedrooms']))

# Q8.5 What are the max, min, mean and the std of the `long` column?
print(f(House['long']))

[33, 0, 3.371, 0.93]
[-121.315, -122.519, -122.214, 0.141]

In [20]:
for x in sorted(list(f(House['long'])))[::-1]:
    print('{:0.3f}'.format(x),end=',')

0.141,-121.315,-122.214,-122.519,

In [21]:
# Display data types of all columns (int)
print(House.dtypes)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [22]:
# Q9.2 How many columns have `int64` data type?
print((House.dtypes=='int64').sum())

# Display data types of all columns (list of str)
# Q9.5 What are the columns with dtype == `int64`?
print(House.select_dtypes(include=['int64']).columns)

15
Index(['id', 'bedrooms', 'sqft_living', 'sqft_lot', 'waterfront', 'view',
       'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'zipcode', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [23]:
for x in sorted(list(House.select_dtypes(include=['int64']).columns)):#[::-1]:
    print(x,end=',')
    #     print('{:0.3f}'.format(x),end=',')

bedrooms,condition,grade,id,sqft_above,sqft_basement,sqft_living,sqft_living15,sqft_lot,sqft_lot15,view,waterfront,yr_built,yr_renovated,zipcode,

# 3. Data selection

In pandas.DataFrame you could select

1. Row/s by position (integer number \[0 .. number of rows - 1\]) `.iloc` or by DataFrame.index `.loc`:
```
data.loc[0]
data.loc[5:10]
data.iloc[0]
data.iloc[5:10]
```
*Though, this is probably the worst way to manipulate rows.*

2. Columns by name
```
data[columname]
```
3. Row/s and columns
```
data.loc[10, columname]
data.iloc[10, columname]
```
4. Using boolean mask
```
mask = data[columname] > value
data[mask]
```
You could combine multiple conditions using `&` or `|` (and, or)

```
cond1 = data[columname1] > value1
cond2 = data[columname2] > value2
data[cond1 & cond2]
```
5. Using queries `.query()`:
```
value = 5
data.query("columname > value")
```
You could combine multiple conditions using `and`, `or`

```
data.query("(columname1 > value1) and (columname2 > value2)")
```
and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

*Remember to use different quotation marks " or ' for columnname inside a query.*

In [24]:
# setting DataFrame index to be an `id` column, now .loc and .iloc will have different behavior
#data.index = data.id

# dropping `id` column, since now it is an index
#data.drop('id', axis=1, inplace=True)

# sort data by index for clarity
#data.sort_index(inplace=True)

In [25]:
# Select rows by position (int) 

# Q10.1 How many bedrooms have a house on row 777?
print(House['bedrooms'].loc[777])

# Q10.5 What is the grade of a house on row 2718?
print(House["grade"].loc[2718])

4
7

In [26]:
# Select rows by index (int)

# Q11.3 When was built the house with index 104510440?
print(int(House[House.id == 104510440].yr_built))

# Q11.5 What is the living area (in square feets) of the house with index 1225069038?
print(int(House[House.id == 1225069038].sqft_living))

1984
13540

In [27]:
# Using mask or .query syntax select rows/columns (int)

# Q12.4 When was built a house with maximal number of bedrooms?
print(int(House[House.bedrooms == House.bedrooms.max()].yr_built))

# Q12.5 How many houses were sold for 256000 dollars?
print(House[House.price == 256000].shape[0])

1947
8

In [28]:
# Using mask or .query syntax select rows/columns (int)

# Q13.2 How many houses, built before first human in space (<1961), have high condition (=5)?
cond4 = House.yr_built < 1961
cond5 = House.condition == 5
print((House[cond4 & cond5].shape[0]))

# Q13.5 How many floors has a house built in 1999 with 5 bedrooms and 3400 sqft living area?
cond1 = House.yr_built==1999
cond2 = House.bedrooms == 5
cond3 = House.sqft_living==3400
print(House[cond1 & cond2 & cond3].floors)

1153
5129    2.0
Name: floors, dtype: float64

In [29]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q14.1 What was the average (sold) price of a houses built in the year of Cuban Missile Crisis (1962)?
print(round(House[House.yr_built==1962].price.mean(),3))

# Q14.2 What was the price of the most expensive house sold, built between 1991 and 2000?
cond1 = House.yr_built >= 1991
cond2 = House.yr_built <= 2000
cond3 = House[(cond1) & (cond2)]
print(int(cond3.price.max()))

436715.314
5300000

# 4. Creating new columns


Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. 
Typically, you would compute something new based on existing data and save it in a new column. 
For example one might want to compute total area of the house as a sum of all `sqft_` columns, or
create a boolean column of whether the house has `grade` > 2 or anything else:

```
data['total_area'] = data[col1] + data[col2] + ...
data['high_value'] = data[col] > 5
```

Pandas also provides another powerfull tool: `.apply`, `.map()`, `.applymap()` methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas .
They allow you to *apply* some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of `total_area` and `high_value` using `.apply()`:
```
data['total_area'] = data[[col1, col2, col3]].apply(sum, axis=1)

```
you are not restricted to existent functions, `.apply()` accepts any function (including lambda functions):

```
data['total_area'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total
    
data['total_area'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has `axis` parameter `axis=0` refers to rows, `axis=1` refers to columns.

*Warning. You should never use for loops to sum numerical elements from the container.*

---

In [30]:
# Create `was_renovated` column. Bool column (0, 1) indicating whether the house was renovated.
House['was_renovated'] = House['yr_renovated'].apply(lambda x: 0 if x == 0 else 1)

In [31]:
# Create new columns using the old ones (new column in your DataFrame)

# Q15.1 Create a `sqft_tot_area` column (sum of all columns with `sqft_` prefix) using any method above
col_names = House.filter(regex='^sqft_',axis=1).columns
House['sqft_tot_area'] = House[col_names].apply(sum, axis=1)

# Q15.2 Create a new column `sqm_tot_area` using `sqft_tot_area` and the fact that 1 foot = 0.3048 meters
House['sqm_tot_area'] = House['sqft_tot_area'].apply(lambda x: x*0.3048)

# Q15.3 Create a new column `sqm_aver_floor_area` by dividing total area (in meters) by number of floors
House['sqm_aver_floor_area'] = House['sqm_tot_area']/House['floors']

# Q15.4 Create a new column `price_cat` by splitting a `price` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
per = House.price.quantile([0.2, 0.4, 0.6, 0.8]).values
def func(x):
#     per = House.price.quantile([0.2, 0.4, 0.6, 0.8])
    if x<=per[0]:
        res = 1
    elif x<=per[1]:
        res = 2
    elif x<=per[2]:
        res = 3
    elif x<=per[3]:
        res = 4
    else:
        res = 5
    return res
House['price_cat'] = House['price'].apply(func)    

# Q15.5 Create a new bool column `high_class` it is True if the house has grade >= 9 and condition >= 4
House['high_class'] = House.apply(lambda row: (row['grade'] >= 9) & (row['condition'] >= 4), axis=1)

In [32]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average price of the house of the high_class(=True)?
print(round(House[House['high_class']==True].price.mean(),3))
# Q16.3 What is the maximal number of floors amongst houses with the lowest price category?
print(House[House['price_cat']==1].floors.max())

1146802.328
3.0

# 5. Basic date processing

You figure out that column `date` is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method `to_datetime()` to convert the date to a good format.
- Exctract `year`, `month`, `day` and `weekday` from your new date column. Save them to separete columns.
- How many columns has your data now?
- Drop column `date`, remember to set `inplace` parameter to True.


**Hint** for datetime formatted date you could extract the `year` as follow:
```
data.date.dt.year
```

Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like **black friday**. 

Learn how to work with date in Python!

In [33]:
# Create new columns based on `date` column

# Q17.1 Convert date to datetime format
House['date']=pd.to_datetime(House['date'])
# Q17.2 Extract and store `year`
House['year'] = House.date.dt.year
# Q17.3 Extract and store `month`
House['month'] = House.date.dt.month
# Q17.4 Extract and store `day`
House['day'] = House.date.dt.day
# Q17.5 Extract and store `weekday`
House['weekday'] = House.date.dt.weekday
# Q17.6 Create a new column `house_age_10` - the age of the house in full decades (e.g. 9 year old house - 0, 21 year old house - 2),
# using `yr_built` and 'year' columns
House['house_age_10']=(House['year']-House['yr_built'])//10

In [34]:
# Drop column `date`
House = House.drop(columns = ['date'])

In [35]:
# Find some date related information from the data (int, Sunday has index 0)

# Q18.2 What is the most popular selling month?
print(House.month.value_counts().keys()[0])
# Q18.3 What is the least popular selling weekday?
print(House.weekday.value_counts().keys()[-1])

5
6

# 6. Groupby
from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

    - Splitting the data into groups based on some criteria.
    - Applying a function to each group independently.
    - Combining the results into a data structure.
    
---
`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric. 

Instead of computing average area of houses with high grade you could compute average areas of the
houses for every grade in a single command:

```
data.groupby('grade')['sqm_tot_area'].mean()
```

You could also make multi-column groups:

```
data.groupby(['weekday','grade'])['price'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','grade'])['price'].agg([min, max])
```

instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['condition','grade'])['bathrooms'].apply(lambda x: np.quantile(x, .5))
```

and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['condition'])['bathrooms'].median()
data['gp_feature'] = data['condition'].map(gp)
```
Now, if some house has `condition == 2`, its `gp_feature` will be equal to the median number of 
bathrooms amongst all houses with `condition == 2`.

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [36]:
# Create some groupby features

# Q19.3 `price_by_weekday` groupby `weekday` and compute median price.
price_by_weekday = House.groupby('weekday')['price'].median()
print(price_by_weekday)
# Q19.4 `area_by_price` groupby `price_cat` and compute average `sqft_living`.
area_by_price = House.groupby('price_cat')['sqft_living'].mean()
print(area_by_price)

weekday
0    453000.0
1    449950.0
2    453000.0
3    442500.0
4    455000.0
5    475000.0
6    471250.0
Name: price, dtype: float64
price_cat
1    1411.428638
2    1737.459884
3    1885.257334
4    2217.393462
5    3148.705991
Name: sqft_living, dtype: float64

In [37]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `n_houses_zipcode` groupby `zipcode` and count number of occurences of every unique zipcode
n_houses_zipcode = House.groupby('zipcode').zipcode.count()
print(n_houses_zipcode)
# Q20.5 `living_by_cond_`(median, std) groupby `waterfront`, `view`, `condition` and compute median and std `sqft_living`.
living_by_cond_median = House.groupby(['waterfront', 'view', 'condition']).sqft_living.median()
living_by_cond_std = round(House.groupby(['waterfront', 'view', 'condition']).sqft_living.std(),3)
living_by_cond_ = pd.merge(living_by_cond_median, living_by_cond_std, on = ['waterfront', 'view', 'condition']).fillna(0)
print(living_by_cond_)

zipcode
98001    362
98002    199
98003    280
98004    317
98005    168
        ...
98177    255
98178    262
98188    136
98198    280
98199    317
Name: zipcode, Length: 70, dtype: int64
                           sqft_living_x  sqft_living_y
waterfront view condition
0          0    1                 1100.0        609.199
                2                 1265.0        610.629
                3                 1910.0        875.297
                4                 1760.0        730.100
                5                 1800.0        755.383
           1    1                  720.0          0.000
                2                 2350.0          0.000
                3                 2540.0       1116.481
                4                 2230.0        852.402
                5                 2556.5        973.160
           2    2                 2075.0        403.051
                3                 2515.0       1147.767
                4                 2400.0       1036.098
                5                 2390.0       1020.250
           3    2                 2130.0        240.416
                3                 2925.0       1183.463
                4                 2685.0       1273.111
                5                 2900.0       1033.355
           4    1                  680.0          0.000
                3                 3160.0       1872.365
                4                 2940.0       1150.659
                5                 3455.0        837.927
1          1    4                 1940.0          0.000
           2    2                 5300.0          0.000
                3                 6105.0       5564.930
                4                 1730.0          0.000
                5                 1906.5       1088.855
           3    3                 2700.0       1195.224
                4                 2040.0        967.555
                5                 3440.0        435.086
           4    1                 1010.0          0.000
                3                 3085.0       1536.898
                4                 2790.0       1585.121
                5                 2750.0       1334.757

# 7. Building a regression model

> You do not need to normalize data for tree models, and for linear/knn models this step is essential.

> Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.

> You may create or drop **any** features you want, except for the features which use `price` (e.g. average price of a house with 5 bedrooms).

In [38]:
# Q21 Drop all generated features which used price column, e.g. price_by_year, price_cat.
House = House.drop(columns = ['price_cat'])

In [39]:
House.head().T

,0,1,2,3,4
id,7129300520,6414100192,5631500400,2487200875,1954400510
price,221900,538000,180000,604000,510000
bedrooms,3,3,2,4,3
bathrooms,1,2.25,1,3,2
sqft_living,1180,2570,770,1960,1680
sqft_lot,5650,7242,10000,5000,8080
floors,1,2,1,1,1
waterfront,0,0,0,0,0
view,0,0,0,0,0
condition,3,3,3,5,3
grade,7,7,6,7,8
sqft_above,1180,2170,770,1050,1680
sqft_basement,0,400,0,910,0
yr_built,1955,1951,1933,1965,1987
yr_renovated,0,1991,0,0,0
zipcode,98178,98125,98028,98136,98074
lat,47.5112,47.721,47.7379,47.5208,47.6168
long,-122.257,-122.319,-122.233,-122.393,-122.045
sqft_living15,1340,1690,2720,1360,1800
sqft_lot15,5650,7639,8062,5000,7503
was_renovated,0,1,0,0,0
sqft_tot_area,15000,21711,22322,15280,20743
sqm_tot_area,4572,6617.51,6803.75,4657.34,6322.47
sqm_aver_floor_area,4572,3308.76,6803.75,4657.34,6322.47
high_class,False,False,False,False,False
year,2014,2014,2015,2014,2015
month,10,12,2,12,2
day,13,9,25,9,18
weekday,0,1,2,1,2
house_age_10,5,6,8,4,2

In [40]:
House.columns

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'was_renovated', 'sqft_tot_area',
       'sqm_tot_area', 'sqm_aver_floor_area', 'high_class', 'year', 'month',
       'day', 'weekday', 'house_age_10'],
      dtype='object')

In [41]:
from sklearn.model_selection import train_test_split

# Q22 Split your data into train and test parts.
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7

y = House['price']
X = House[['bedrooms', 'bathrooms', 'waterfront', 'condition', 'view', 'grade', 'floors', 'house_age_10', 'was_renovated','sqft_living','year','month','lat']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=7)

In [42]:
d = {False:0,True:1}
House.high_class = House.high_class.map(d)

In [43]:
#Normalize X

from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

def scaleColumns(df, cols_to_scale):
    df_new = df.copy()
    for col in cols_to_scale:
        df_new[col] = pd.DataFrame(min_max_scaler.fit_transform(pd.DataFrame(df[col])),columns=[col])
    return df_new[list(cols_to_scale)]

X = scaleColumns(House, ['bedrooms','bathrooms', 'waterfront', 'condition', 'view', 'grade', 'floors', 'house_age_10', 'zipcode','was_renovated','high_class','sqft_living','sqft_lot', 'sqft_above', 'sqft_basement','year','month','lat'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=7)

In [44]:
X_train.head()

,bedrooms,bathrooms,waterfront,condition,view,grade,floors,house_age_10,zipcode,was_renovated,high_class,sqft_living,sqft_lot,sqft_above,sqft_basement,year,month,lat
13772,0.060606,0.1250,0.0,0.50,0.0,0.416667,0.0,0.833333,0.530303,0.0,0.0,0.054340,0.004374,0.065789,0.024896,0.0,0.818182,0.605437
16462,0.090909,0.1250,0.0,0.50,0.0,0.500000,0.2,0.166667,0.368687,0.0,0.0,0.088302,0.005743,0.128289,0.000000,0.0,0.454545,0.748753
1100,0.151515,0.5625,0.0,0.50,0.0,0.833333,0.4,0.166667,0.292929,0.0,0.0,0.436226,0.008608,0.633772,0.000000,0.0,0.909091,0.602702
10368,0.090909,0.2500,0.0,0.75,0.0,0.500000,0.0,0.583333,0.575758,0.0,0.0,0.084528,0.003570,0.067982,0.103734,0.0,0.545455,0.847193
6800,0.090909,0.3125,0.0,0.50,0.0,0.666667,0.2,0.333333,0.383838,0.0,0.0,0.199245,0.011739,0.289474,0.000000,0.0,1.000000,0.912820

In [45]:
# How many records (rows) do you have in train and test tables? (list of int)?

train_rows = X_train.shape[0]
print(train_rows)

test_rows = X_test.shape[0]
print(test_rows)

14480
7133

In [46]:
from sklearn.linear_model import Ridge
from sklearn.neighbors import KNeighborsRegressor

# Create a predictive regression model of a house price.
# Q23.1 Use linear regression with l2 regularization (Ridge regression)
Ridge_reg = Ridge(random_state = 7)

# Q23.3 Use k nearest neighbours regression
knn_reg = KNeighborsRegressor(n_jobs=-1)

In [47]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from sklearn.model_selection import GridSearchCV

# Use grid search to select optimal hyperparamters of your models. 
# Q24.1 Alpha for a ridge regression

alpha = {
    'alpha': np.logspace(-4,2,7)
}

gs1 = GridSearchCV(Ridge_reg, param_grid=alpha,cv=10,n_jobs=-1)
gs1.fit(X_train,y_train)
best_l2 = gs1.best_estimator_
print('alpha =', best_l2.alpha)

alpha = 0.1

In [48]:
# Q24.3 Number of neighbours for the knn

n_neighbors = {
    'n_neighbors': range(2,30,1)
}

gs2 = GridSearchCV(knn_reg, param_grid=n_neighbors,cv=10,n_jobs=-1)
gs2.fit(X_train,y_train)
best_knn = gs2.best_estimator_
print('n_neighbors =', best_knn.n_neighbors)

n_neighbors = 5

In [49]:
from sklearn.metrics import mean_squared_error

# Compute train and test mean squared error for your best models (list of float).

# Q25.1 Train, test MSE using linear regression with l2 regularization
best_l2.fit(X_train, y_train)
y_pred_l2 = best_l2.predict(X_test)
error_l2_test = mean_squared_error(y_test, best_l2.predict(X_test))
error_l2_train = mean_squared_error(y_train, best_l2.predict(X_train))
print('error_l2_train =',round(error_l2_train,3), 'error_l2_test =',round(error_l2_test,3))

# Q25.3 Train, test MSE using k nearest neighbours regression
best_knn.fit(X_train, y_train)
y_pred_knn = best_knn.predict(X_test)
error_knn_test = mean_squared_error(y_test, best_knn.predict(X_test))
error_knn_train = mean_squared_error(y_train, best_knn.predict(X_train))
print('error_knn_train =',round(error_knn_train,3), 'error_knn_test =',round(error_knn_test,3))

error_l2_train = 39581570011.777 error_l2_test = 42067027266.308
error_knn_train = 25321584925.281 error_knn_test = 40448933622.006

In [50]:
from sklearn.metrics import r2_score

# Compute train and test R^2 for your best models (list of float).
# Q26.1 Train, test R^2 using linear regression with l2 regularization
print('r2_l2 =',round(r2_score(y_test, y_pred_l2),3))

# Q26.3 Train, test R^2 using k nearest neighbours regression
print('r2_knn =',round(r2_score(y_test, y_pred_knn),3))

r2_l2 = 0.683
r2_knn = 0.695

In [51]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

In [52]:
value= best_l2.coef_.ravel()
value= np.argsort(value)[-5:]
features = np.array(X_train.columns)
print(features[value][::-1])

['grade' 'sqft_above' 'sqft_living' 'waterfront' 'sqft_basement']

In [53]:
for x in list(sorted(['grade','sqft_above','sqft_living','waterfront','high_class'])):
    print(x,end=',')

grade,high_class,sqft_above,sqft_living,waterfront,